/**

Background image

**/

body {
    background-color: rgb(41, 39, 40);
    background-image: url("https://c1.staticflickr.com/5/4301/35721203150_65171c844b_b.jpg%22");
    margin: 0;
}

/**

Transparent part of the menu

**/

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255,215,0, 0.5);
}

/**

Font family and size of the navbar buttons

**/

ul.topnav li {
    float: left;
    font-family: 'Roboto Slab', Arial;
    font-size: 30px;
}

/**

More stuff for the navbar

**/

ul.topnav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/**

Color on hover

**/

ul.topnav li a:hover:not(.active) {
    background-color: rgb(240,215,0);
}

/**

Color of the Home button

**/

ul.topnav li a.Home {
    background-color: rgb(240,215,0);
}

/**

Makes the Newsletter button go to the right

**/

ul.topnav li.Newsletter {float: right;
}

/**

Makes the navbar shrink if the width is below 600px

**/

@media screen and (max-width: 675px){
    ul.topnav li.Newsletter,
    ul.topnav li {
        float: none;
    }
}

/**

Icon size

**/

#truck {
    width: 60px;
}
#watch {
    width: 60px;
}
#lock {
    width: 60px;
}
#card {
    width: 60px;
}

/**

Background color, border radius, margin etc. for the icons

**/

#truck,
#watch,
#lock,
#card {
    display: flex;
    justify-content: center;
    background-color: rgb(255,255,255);
    border-radius: 10px;
    margin-top: 14px;
    margin-left: 10px;
    padding: 2px;
}


#text-div {
   position: relative;
    color: rgb(255,255,255);
    font-size: 30px;
    font-family: arial;
    margin-left: 85px;
    bottom: 310px; 
}




#header-img {
width: 100px;
margin-top: 10px;
}


@media screen and (max-width: 675px){
    ul.topnav img {
   display: flex;
   width: 100px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 15px;   
    }
}

@media screen and (max-width: 355px){
    #truck,
    #watch,
    #lock,
    #card    {
    position: relative;
    margin-top: 40px;
    }
}

@media screen and (max-width: 355px){
   #text-div {
       position: relative;
       top: -400px;
   }
}